body{
    margin: 0;
    padding: 0;
}
.header-bar{
    font-weight: bold;
    font-size: 20px;
    height: 12vh;
    color: white;
    background-color: rgb(69, 178, 98);
    padding: 20px;
}  
.search-box{
    width:320px;
    height:50px;
}
#search{
    width: 300px;
    height:35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
}
.header-name{
   margin: 0px;
   padding: 0px;
   margin-top: 10px;
}
#category{
   height: 40px;
   width: 60px;
   font-size: 14px;
   font-weight:bold;
   background-color:rgb(69, 178, 98);
   border:1px solid rgb(69, 178, 98);
   color: white;
}
#routeButton{
   height: 40px;
   width: 80px;
   font-size: 14px;
   font-weight:bold;
   background-color:rgb(69, 178, 98);
   border:1px solid rgb(69, 178, 98);
   color: white;

}
.main-content {
   display: flex;
   height: 100vh;
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
}
.side{
   height:100vh;
}
#sidebar {
   width: 320px;
   height:79vh;
   overflow-y: auto;
   background: #f8f9fa;
   padding: 0;
   border-right: 2px solid #ddd;
   padding: 20px;
}
#map {
   flex-grow: 1;
   height: 100vh;
   width: 100%;
}
.list-item { 
   border-bottom: 1px solid #ddd;
   height: 120px;
   cursor: pointer;
   margin-top:5px;
   transition: background 0.2s;
}
.list-item:hover {
   background: #e9ecef;
}
.location-name{
   font-weight:bold;
   font-size:20px;
}
.select-cor{
   width:300px;
   height: 30px;
}
.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10000;
  max-height: 200px;
  overflow-y: auto;
}
.autocomplete-list div {
  padding: 8px;
  cursor: pointer;
}
.autocomplete-list div:hover {
  background: #eee;
}